{:deps   {:aliases [:dev]}
 :nrepl  {:port 9000}
 :builds {:main       {:optimizations :advanced
                       :target       :browser
                       :js-options   {:js-provider :shadow
                                      :resolve {"cytoscape" {:target :npm
                                                             :require "cytoscape/dist/cytoscape.esm"}}}

                       :output-dir   "resources/public/js/main"
                       :asset-path   "/js/main"
                       :modules      {:main {:entries [flechar.client]}}
                       :compiler-options {:output-feature-set :es5}


                       :devtools     {:after-load flechar.client/start
                                      :preloads   [fulcro.inspect.preload flechar.development-preload]}}

          :test       {:target           :browser-test
                       :test-dir         "resources/public/js/test"
                       :ns-regexp        "-test$"
                       ; required for mocking to work
                       :compiler-options {:static-fns false}

                       :devtools         {:http-port          8022
                                          :http-resource-root "public"
                                          :http-root          "resources/public/js/test"}}

          :ci-tests   {:target           :karma
                       :js-options       {:js-provider :shadow}
                       ; required for mocking to work
                       :compiler-options {:static-fns false}
                       :output-to        "target/ci.js"
                       :ns-regexp        "-test$"}

          :workspaces {:target     nubank.workspaces.shadow-cljs.target
                       :ns-regexp  "-(test|ws)$"
                       :output-dir "resources/public/workspaces/js"
                       :asset-path "/workspaces/js"
                       :devtools   {:preloads           [fulcro.inspect.preload]
                                    :http-root          "resources/public"
                                    :http-port          8023
                                    :http-resource-root "."}}}}
